

<div class="container">
   <br/>
    <h2 class="text-center text-info">{{name}}</h2>
    <hr>
    <div>
      <input type="text" placeholder="Search Product" class="form-control" [(ngModel)] ='searchtext'/>
    </div>
     <table class="table">
          <thead>
              <tr>
                <td> Image </td>
                <td> product Name </td>
                <td> Code </td>
                <td> description </td>
                <td> Price </td>
                <td> Star Rating </td>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products | productfilter">
              <td><img [src]='product.imageUrl' [style.width.px]='imageWith' [style.margin.px]= 'imageMargin' /></td>
              <td>{{product.productName}}</td>
              <td>{{product.productCode}}</td>              
              <td>{{product.description}}</td>
              <td>{{product.price}}</td>
              <td>{{product.starRating}}</td>              
            </tr>
          </tbody>
     </table>
</div>
